<%- include("partials/header"); -%>
<div class="col-lg-8">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
  <% categoriesRegistered.forEach(function(category){%>
    <tr>
  <td><%=category.name%></td>
  <td><%=category.description%></td>
  <td><a href="/delete/category/<%=category._id%>" role="button" name="button" class="btn btn-primary">Delete</a></td>
  <td><button type="button" name="button" class="btn">Edit</button></td>
  </tr>
  <%})%>
  </tbody>
  </table>
</div>

<%- include("partials/footer"); -%>
