<%- include("partials/header"); -%>
<a href="/logout" role="button" class="btn btn-primary">Logout</a>
<a href="/get_ticket" role="button" class="btn btn-primary">Add Attendee</a>
<div class="col-lg-8">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Year Group</th>
      </tr>
    </thead>
    <tbody>
  <% usersRegistered.forEach(function(user){%>
    <tr>
  <td><%=user.fname%></td>
  <td><%=user.lname%></td>
  <td><%=user.email%></td>
  <td><%=user.yearGroup%></td>
  <td><a href="/delete/attendee/<%=user._id%>" role="button" name="button" class="btn btn-primary">Delete</a></td>
  <td><a href="" role="button" name="button" class="btn btn-primary">Send to Eventbrite</a></td>
  </tr>
  <%})%>
  </tbody>
  </table>
</div>

<%- include("partials/footer"); -%>
